@import "tailwindcss";

body{
    font-family: 'Patrick Hand', cursive;
}

.sketchy-border {
    border: 2px solid;
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    transition: all 0.2s ease-in-out;
}

.sketchy-border:hover {
    border-radius: 15px 225px 15px 255px / 255px 15px 225px 15px;
    transform: scale(1);
}

